.idea/
**/node_modules/

**/typescript/dist/

server/pkg/
server/src/package/vendor/
server/src/github.com/
server/src/golang.org/
server/assets/css
server/.env


deploy/terraform/server/.terraform
deploy/terraform/transcoder/.terraform
deploy/terraform/env/server/prod.tfvars
deploy/terraform/env/transcoder/prod.tfvars
deploy/env