.idea/
**/node_modules/

**/typescript/dist/

server/pkg/
server/src/package/vendor/
server/src/github.com/
server/src/golang.org/
server/assets/css
server/.env

terraform/src/core/.terraform
terraform/src/server/.terraform
terraform/src/transcoder/.terraform
terraform/env/core/prod.tfvars
terraform/env/server/prod.tfvars
terraform/env/transcoder/prod.tfvars

transcoder-lambda/bin/
transcoder-lambda/transcoder-lambda.zip
transcoder-lambda/.terraform/
transcoder-lambda/.env
