.checkbox-button {
  .checkbox-button-label {
    cursor: pointer;
  }
  input[type="checkbox"] {
    opacity: 0;
  }
  .content-hidden {
    display: none;
  }
  input[type="checkbox"]:checked ~ .content-hidden {
    display: block;
  }
  .content-visible {
    display: block;
  }
  input[type="checkbox"]:checked ~ .content-visible {
    display: none;
  }
}