@import "~bootstrap/scss/bootstrap";

.address-item {
  position: relative;
  h4 {
    margin: 0;
  }
  .checkbox-button-label {
    color: $gray-600;
    font-size: .8rem;
  }
  .address-item-row {
    display: flex;
    flex-direction: row;
    label {
      flex: 1.5;
    }
    span {
      flex: 8;
    }
  }
}
