#upload-form {
  display: inline-block;
  position: relative;

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0;
    z-index: 500;

    &:valid ~ .select {
      display: none !important;
    }
    &:valid ~ .upload {
      display: block !important;
    }
  }

  .upload {
    display: none;
  }

}
