@import "../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;
}

form {
  margin-bottom: 0;
}

* {
  border-radius: 0 !important;
}

@import "login-page";
@import "register-page";
@import "upload-list-page";
@import "upload-form";
